BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: true
SortIncludes: true
IncludeBlocks: Regroup
Cpp11BracedListStyle: true
ReflowComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
AllowAllParametersOfDeclarationOnNextLine: false
SpaceBeforeAssignmentOperators: true
NamespaceIndentation: None
IndentExternBlock: AfterExternBlock
UseCRLF: false
InsertNewlineAtEOF: true
