repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        name: clang-format (C/C++)
        files: \.(c|cc|cpp|h|hpp)$
        args: ['-i']

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

exclude: ^.git/|^src/include/|^README\.md$|^LICENSE$
